button {
    margin: 5px 5px 5px 20px;
    width: 30%;
    height: 50px;
    border: 0px;
    background-color: rgb(153, 153, 153);
    font-size: 30px;
}

button:hover {
    background-color: rgb(87, 87, 87);
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    ;
    margin-left: 20%;
    height: 1920px;
}

#container {
    background-color: rgb(207, 207, 207);
    opacity: 0.7;
}

#result {
    text-align: center;
    font-size: 50px;
}

input {
    width: 60%;
    height: 40px;
    font-size: 20px;
}

p {
    font-family: monospace;
    font-size: 20px;
}

#error1 {
    font-size: 30px;
}

#error2 {
    font-size: 30px;
}

#complet {
    font-size: 30px;
}

#container {
    width: 1080px;
}