button {
    margin: 5px 5px 5px 20px;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(7, 190, 7);
    font-size: 30px;
}



button:hover{
    background-color: rgb(0, 155, 0);
}


body{
    text-align: center;
    background: url(background.jpg);
}
#result{
    text-align: center;
    font-size: 50px;
    color: rgb(7, 190, 7);
}



input{
    width: 50%;
    height: 40px;
    font-size: 20px;
}



p{
    font-family: monospace;
    font-size: 20px;
}



#error{
    font-size: 30px;
}



#complet{
    font-size: 30px; 
}